<div id="rules">
<h1>How to play!</h1>
<p>Give and Take is an incredibly simple game, all you need is a <strong>deck of cards</strong> a <strong>bottle of alcohol</strong> and a <strong>gung-ho attitude</strong> :P.</p>

<p>There is no limit to the number of people that can play. However, you may want to use more than one deck of cards if there is a large number of players.</p>

<p>It works as follows.</p>
<p><strong>First</strong>, deal all the cards out to the players.</p>

<p><strong>Second</strong>,take 5 seconds to create an account and start a new game of give and take.</p>

<p><strong>Third</strong>, do what the website says!--<br>
<p>
	<strong>Take Rounds</strong><br>
	Each person takes the allotted number of shots/drinks per card called in their hand.
</p>
<p>
	<strong>Give Rounds</strong><br>
	Each person gives the card called to another player (can split the cards up if they have more than one). For each card a player receives they take the allotted number of shots/drinks.
</p>
<p>
	<strong>Special Rounds</strong><br>
	These are custom rounds created by you. They can be anything from "Guys take 1 shot/drink" to "Pass all your cards to the left". Creativity is king here ;).
</p>
<p>
	<strong>Examples</strong>
	So if it says "Take 1 for an Ace" then each person that has an ace takes 1 shot or drink per ace in their hand.<br>
	If it says "Give 2 for a 10" then each person gives any 10s they have to any other players, those players then drink 2 shots per card they receive. (Holding cards and revenging people that give you cards here is ORSM!)<br>
	Finally if a special round says "Everybody takes 1 shot/drink"... Then everybody takes a shot/drink :) 
</p>

</p>
</div>
