<div id="intro">
	<font style="font-size: 30px;">Welcome to give and take!</font>
	<p><%= image_tag "beer_big.png" %></p>
	<font style="font-size: 15px;">Please take a moment to <%= link_to "sign up an account", new_user_registration_path %> <small>(no confirmation required)</small> and lets get to drinking!</font>
	<%= render :partial => "rules" %>
</div>