<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Give and Take</title>
		<%= stylesheet_link_tag 'application' %>
		<%= javascript_include_tag 'jquery.min', 'application' %>
  </head>
  <body>
    <div id="page">

      <div id="content">
				<% link_to root_url do %>
        <div id="header">
          <h1>Give ŉ Take</h1>
          <h2>The game where everybody wins!</h2>
        </div>
				<% end -%>
        
        <div id="getting-started">
          <%= yield %>
        </div>
      </div>
      
      <div id="footer">&nbsp;</div>
    </div>
  </body>
</html>